_site/
.DS_Store
*.Rproj.user
*.Rhistory
*.RData
*.pyc
__pycache__/
.Rproj.user/
.Rhistory
.RData
.ipynb_checkpoints/

/.quarto/
/git_ignored_content/
/admin/
/archive/
/assignments/
/exercises/

/chapters/chapter3/slides/data_viz_types_files/
/chapters/chapter3/slides/data_viz_types_cache/

R/